
<carousel [loop]="true" [arrowsOutside]="true" [cellsToShow]="1" [height]="1000">
  <div class="carousel-cell">
    <div class="lg:grid flex flex-col-reverse lg:grid-cols-3 w-full h-full border container">
      <div class="grid-cell flex flex-col mt-20">
        <h3>Columbia Barlow Pass 550 Turbodown Jacket</h3>

        <div class="gray-box">
          <img src="assets/home/HowProfitable/swiper/ua.svg" alt="ua flag" />

          <div class="flex flex-col">
            <span>
              Ціна в Україні
            </span>
            <strong>
              6399,00₴ {{screenWidth}}px
            </strong>
          </div>
        </div>
      </div>

      <div class="grid-cell flex flex-col mt-2 lg:items-start items-center justify-center lg:justify-start">
        <div class="roubded-box flex justify-center items-center">
          <img
            src="assets/home/HowProfitable/swiper/products/ColumbiaBarlow.png"
            alt="Columbia Barlow"
          />
        </div>
      </div>

      <div class="grid-cell flex flex-col mt-20">
        <h2>
          <strong>
            Доставка одягу з Великобританії від
            <span>£7.79</span>
          </strong>
        </h2>

        <div class="gray-box">
          <img src="assets/home/HowProfitable/swiper/uk.svg" alt="ua flag" />

          <div class="flex flex-col">
            <span>
              Ціна в UK
            </span>
            <strong class="text-[rgba(1, 205, 125, 1)]">
              £80.62
            </strong>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="carousel-cell">
    <div class="grid grid-cols-3 w-full h-full border">
      <div class="grid-cell flex flex-col mt-20">
        <h3>Columbia Barlow Pass 550 Turbodown Jacket</h3>

        <div class="gray-box">
          <img src="assets/home/HowProfitable/swiper/ua.svg" alt="ua flag" />

          <div class="flex flex-col">
            <span>
              Ціна в Україні
            </span>
            <strong>
              6399,00₴
            </strong>
          </div>
        </div>
      </div>

      <div class="grid-cell flex flex-col mt-2">
        <div class="roubded-box flex justify-center items-center">
          <img
            src="assets/home/HowProfitable/swiper/products/ColumbiaBarlow.png"
            alt="Columbia Barlow"
          />
        </div>
      </div>

      <div class="grid-cell flex flex-col mt-20">
        <h2>
          <strong>
            Доставка одягу з Великобританії від
            <span>£7.79</span>
          </strong>
        </h2>

        <div class="gray-box">
          <img src="assets/home/HowProfitable/swiper/ua.svg" alt="ua flag" />

          <div class="flex flex-col">
            <span>
              Ціна в Україні
            </span>
            <strong>
              6399,00₴
            </strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</carousel>
