<carousel
  [arrowsOutside]="false"
  [cellsToShow]="1"
  [height]="swiperHeight"
  (window:resize)="onResize($event)"
  class="container swiper-responcive"
>
  <div
    *ngFor="let product of filteredProducts; let i = index"
    class="carousel-cell"
  >
    <div
      class="lg:grid flex flex-col-reverse lg:grid-cols-3 w-full h-full container swiper-responcive"
    >
      <div class="grid-cell flex flex-col mt-20">
        <h3>{{product.name}}</h3>

        <div class="gray-box">
          <img src="assets/img/home/HowProfitable/swiper/ua.svg" alt="ua flag" />

          <div class="flex flex-col">
            <span>
              Ціна в Україні
            </span>
            <strong>
              {{product.priceUa}}₴
            </strong>
          </div>
        </div>
      </div>

      <div
        class="grid-cell flex flex-col mt-2 lg:items-start items-center justify-center lg:justify-start"
      >
        <div class="rounded-box active flex justify-center items-center">
          <img src="{{imgPath + product.image}}" alt="Columbia Barlow" />
        </div>
      </div>

      <div class="grid-cell flex flex-col mt-20">
        <h2>
          <strong>
            Доставка {{translatedCategory}} з Великобританії від
            <span>£7.79</span>
          </strong>
        </h2>

        <div class="gray-box">
          <img src="assets/img/home/HowProfitable/swiper/uk.svg" alt="uk flag" />

          <div class="flex flex-col">
            <span>
              Ціна в UK
            </span>
            <strong class="text-[rgba(1, 205, 125, 1)]">
              £{{product.priceUk}}
            </strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</carousel>

<div class="images-prew-next container" [class.hidden]="hideImagesPrevNext">
  <img
    class="rounded-box"
    (click)="slide('-')"
    src="{{(products[currentSlide-1]) ? products[currentSlide-1].image:''}}"
  />

  <div class="flex flex-col pr-[70px]">
    <span
      >Термін доставки приблизно {{products[currentSlide].delivery}} днів</span
    >
    <strong>Ви економите до <b>${{products[currentSlide].economy}}</b></strong>
  </div>

  <img
    class="rounded-box"
    (click)="slide('+')"
    src="{{(products[currentSlide+1]) ? products[currentSlide+1].image:''}}"
  />
</div>
