.reviews-item {
  padding: 10px;

  img {
    width: 240px;
    height: 240px;
  }

  .text-container {
    padding: 0 30px;

    .rating {
      width: 100px;
      b {
        color: rgba(255, 160, 9, 1);
      }
    }

    h4 {
      color: var(--1, #1f2428);
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
    }

    p {
      color: var(--1, #1f2428);
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 26px;

      b {
        color: var(--1, #1f2428);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        margin-right: 10px;
      }
      span {
        color: var(--1, #1f2428);
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
      }
    }
  }
}
