<div class="container content-block">
  <h2 class="mb-[50px]">Відгуки та цитати блогерів:</h2>

  <div class="grid w-full grid-cols-1 lg:grid-cols-2 gap-4">
    <div
      *ngFor="let review of reviews"
      class="reviews-item shadow-box flex lg:flex-row flex-col items-center"
    >
      <img src="{{imgPath + review.image}}" alt="" />

      <div class="flex flex-col text-container justify-between">
        <div class="flex flex-col">
          <h4>{{review.userName}}</h4>

          <div class="flex rating">
            <div *ngFor="let i of [1, 2, 3, 4, 5]" class="flex">
              <ng-container
                *ngIf="i <= review.rating; then activeStar; else unactiveStar"
              >
              </ng-container>

              <ng-template #activeStar><b>★</b></ng-template>

              <ng-template #unactiveStar><s>★</s></ng-template>
            </div>
          </div>

          <p>
            {{review.review}}
          </p>
        </div>

        <div class="flex flex-col">
          <p>
            <b>Дата:</b>
            <span>{{review.date}}</span>
          </p>
          <p>
            <b>Місто:</b>
            <span>{{review.sity}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <button class="green-button mt-[50px]">
    Усі відгуки
  </button>
</div>
