<footer class="w-full flex items-center flex-col justify-around">
  <div class="footer-nav grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
    <div class="flex flex-col px-3 grid-item">
      <img class="logo" src="assets/img/header/logo.svg" alt="logo okey post" />
      <div class="flex social">
        <a href="#">
          <img src="assets/img/footer/whatsapp.svg" alt="whatsapp" />
        </a>
        <a href="#">
          <img src="assets/img/footer/viber.svg" alt="viber" />
        </a>
        <a href="#">
          <img src="assets/img/footer/gmail.svg" alt="gmail" />
        </a>
        <a href="#">
          <img src="assets/img/popup/Facebook.svg" alt="Facebook" />
        </a>
        <a href="#">
          <img src="assets/img/popup/TG.svg" alt="TG" />
        </a>
      </div>
    </div>

    <div class="flex flex-col px-3 grid-item">
      <h5>Про компанію</h5>
      <a href="" routerLink="/help">Послуги</a>
      <a href="" routerLink="/prices">Ціни</a>
      <a href="" routerLink="/help">Відгуки</a>
      <a href="" routerLink="/help">Контакти</a>
      <a href="" routerLink="/help">Вакансії</a>
      <a href="" routerLink="/help">Договір про персональні дані</a>
      <a href="" routerLink="/help">Умови використання</a>
    </div>

    <div class="flex flex-col px-3 grid-item">
      <h5>Корисне</h5>
      <a href="" routerLink="/help">Як працює наш сервіс</a>
      <a href="" routerLink="/help">Як купляти з оператором</a>
      <a href="" routerLink="/help">Відповіді на часті питання</a>
      <a href="" routerLink="/help">Популярні магазини</a>
      <a href="" routerLink="/help">Чорний список магазинів</a>
      <a href="" routerLink="/help">Актуальні розпродажі</a>
    </div>

    <div class="flex flex-col px-3 grid-item">
      <h5>Спецпроекти</h5>
      <a href="" routerLink="/blog">50% на першу доставку</a>
      <a href="" routerLink="/blog">Скидки для постійних клієнтів</a>
      <a href="" routerLink="/blog">Реферальна програма</a>
      <a href="" routerLink="/blog">Кешбек Mr. Rebates и Rakuten</a>
      <a href="" routerLink="/blog"> Stop Fraud</a>
    </div>
  </div>

  <div class="footer-end flex justify-center items-center">
    <p>
      © 2023 Okeypost . Всі права захищені. Angular project - author: 4sv.exe
    </p>
  </div>
</footer>
