@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  // border: 1px solid red;
}
// Fonts
@import url("https://fonts.googleapis.com/css2?family=Fahkwang&family=Lato&display=swap");
// Fonts

// Scss
@import "./assets/scss/custom-scroll.scss";
@import "./assets/scss/pagination-custom.scss";
@import "./assets/scss/swiper.custom.scss";
@import "./assets/scss/popup.scss";
@import "./assets/scss/blue-box.scss";
@import "./assets/scss/green-button.scss";
// Scss

// Navigation & buttons
a {
  padding: 12px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0px;
    height: 1px;
    background-color: #000;
    transition: 0.3s;
  }
  &.active:after {
    background-color: #f00;
    width: 100%;
  }
  &:hover:after {
    width: 100%;
  }
}

// Navigation & buttons

// Boxes
.content-block {
  margin-top: 160px;
  padding: 0 10%;

  h2 {
    max-width: 60%;
    color: var(--1, #1f2428);
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
  }
}

@media (max-width: 1024px) {
  .content-block {
    margin-top: 80px;

    h2 {
      min-width: 100%;
    }
  }
}
@media (max-width: 640px) {
  .content-block {
    margin-top: 60px;
  }
}

.shadow-box {
  width: 100%;
  padding: 8px;
  border-radius: 16px;
  background: var(--5, #fff);
  box-shadow: 0px 0px 70px 0px rgba(138, 138, 138, 0.1);

  .profit {
    display: flex;
    padding: 55px;
    justify-content: center;
    align-items: center;

    border-left: 1px solid #c0c9d7;

    &:first-child {
      border-left: 0;
    }

    p {
      margin-left: 10px;
      color: var(--1, #1f2428);
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
    }
  }
}

@media (max-width: 1024px) {
  .profit {
    padding: 45px;
    border-bottom: 1px solid #c0c9d7;

    &:nth-child(odd) {
      border-left: 0;
    }
    &:nth-child(3),
    &:nth-child(4) {
      border-bottom: 0 solid #c0c9d7 !important;
    }
  }
}

@media (max-width: 640px) {
  .profit {
    border-left: 0px solid #c0c9d7 !important;

    &:nth-child(3) {
      border-bottom: 1px solid #c0c9d7 !important;
    }

    &:last-child {
      border: 0px;
    }
  }
}
// Boxes

.word-break {
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#sales-posts-container {
  a {
    color: var(--7, #01cd7d);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    padding: 0;

    &:after {
      background-color: #01cd7d;
    }
  }
}

.error-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 60px;
  color: #fff;
  background-color: red;
  display: flex;
  justify-content: center;
}

.warehouse-services-item {
  display: grid;
  margin: 10px;
  padding: 20px;

  .item {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

    h4 {
      color: var(--2, #222);
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 16px; /* 88.889% */
      padding: 10px 0;
    }

    p {
      color: var(--2, #222);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 171.429% */
    }

    strong {
      width: 100%;
      text-align: center;
      color: var(--1, #1f2428);
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 16px; /* 100% */
      padding: 12px 0;
    }
  }
}

// Numnered list
ol {
  list-style-type: decimal; 
  padding-left: 20px;

  li {
    margin-bottom: 10px;
  }
}