<div class="mt-10 md:mt-20">
  <h2 class="mb-[50px] max-w-[100%] md:max-w-[60%]">
    Покупки з операторами Okeypost.com:
  </h2>

  <div class="grid grid-cols-1">
    <!-- item -->
    <div
      class="warehouse-services-item shadow-box grid-cols-2 lg:grid-cols-4 xl:grid-cols-6"
    >
      <div class="item col-span-1 lg:col-span-2 xl:col-span-4 lg:justify-start">
        <h4>Додаткове страхування</h4>
      </div>

      <div class="item lg:border-l border-l-0 border-t lg:border-t-0">
        <strong class="text-left">
          5% від суми на яку хочете застрахувати
        </strong>
      </div>
    </div>
    <!-- item -->

    <!-- item -->
    <div
      class="warehouse-services-item shadow-box grid-cols-2 lg:grid-cols-4 xl:grid-cols-6"
    >
      <div class="item col-span-1 lg:col-span-2 xl:col-span-4 lg:justify-start">
        <h4>Нова Пошта та ЄМС</h4>
      </div>

      <div class="item lg:border-l border-l-0 border-t lg:border-t-0">
        <strong>Застраховано по умовчанню на £50.00</strong>
      </div>
    </div>
    <!-- item -->

    <!-- item -->
    <div
      class="warehouse-services-item shadow-box grid-cols-2 lg:grid-cols-4 xl:grid-cols-6"
    >
      <div class="item col-span-1 lg:col-span-2 xl:col-span-4 lg:justify-start">
        <h4>Дрібні пакети</h4>
      </div>

      <div class="item lg:border-l border-l-0 border-t lg:border-t-0">
        <strong>Застраховано на £20.00</strong>
      </div>
    </div>
    <!-- item -->
  </div>
</div>
