<div
  class="container swiper-responcive blue-box lg:flex-row flex-col mt-10 xl:mt-[150px] xl:flex"
>
  <div class="side flex flex-col mx-4">
    <img
      src="assets/img/home/virtualTour.svg"
      alt="Віртуальний тур по нашому складі"
    />
  </div>

  <div class="text-box side flex flex-col">
    <h2>Віртуальний тур по нашому складі в реальному часі</h2>
    <p>
      Ви можите завжди подивитись на нашу злагоджену робота на складі
    </p>

    <a class="green-button mt-9">
      спробувати
    </a>
  </div>
</div>
