<div class="container content-block">
  <h2 class="mb-16">Наскільки вигідно купувати?</h2>

  <div class="shadow-box grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
    <div class="profit">
      <img src="assets/home/HowProfitable/1.svg" alt="" />
      <p>Eкономія до 70%</p>
    </div>

    <div class="profit">
      <img src="assets/home/HowProfitable/2.svg" alt="" />
      <p>Тільки справжня продукція</p>
    </div>

    <div class="profit">
      <img src="assets/home/HowProfitable/3.svg" alt="" />
      <p>Оперативна доставка</p>
    </div>

    <div class="profit">
      <img src="assets/home/HowProfitable/4.svg" alt="" />
      <p>Великий вибір товарів</p>
    </div>
  </div>

  <!-- <app-profitable-swiper /> -->
</div>
