<div
  class="container swiper-responcive blue-box lg:flex-row flex-col mt-10 xl:mt-[150px] xl:flex"
>
  <div class="side flex flex-col">
    <img
      src="assets/img/home/ourShoppers.svg"
      alt="Доставка товарів з Великобританії в Україну"
    />
  </div>

  <div class="text-box side flex flex-col px-4">
    <h2>
      Доручіть нашим майстрам шопінгу оформити замовлення в англійських
      магазинах та звільніть час для більш важливих справ.
    </h2>
    <p>
      Такий спосіб придбання також підійде, якщо магазин приймає лише англійські
      карти.
    </p>

    <a (click)="openLoginPopup()" class="green-button mt-9">
        Спробувати
    </a>
  </div>
</div>
