<form action="" class="">
  <h2>Відновлення паролю</h2>
  <p>
    Введіть <em>Email</em> з котрим в зареєстровані на сайті і нажміть
    «<strong>Відновити</strong>»
  </p>

  <div class="flex flex-col mb-4">
    <label for="email">Ваш Email:</label>
    <input type="text" name="email" />
  </div>

  <p class="">
    Згадали пароль?
    <a href="#" (click)="setCurrentPopup('login')">Виконайте вхід</a>
  </p>

  <div class="flex justify-іефке items-center mt-7">
    <button class="green-button small-button">
      Відновити
    </button>
  </div>
</form>
