<app-page-title
  [currentPage]="'Ціни'"
  [title]="'Послуги доставки з Великобританії'"
  [describition]="''"
  [popupTarget]="''"
  [popupButtonTitle]="''"
/>

<div class="flex flex-col justify-center items-center">
  <div class="container content-block">
    <app-first-screen-prices />

    <app-delivery-calculator />

    <app-delivery-options />

    <app-warehouse-services />

    <app-shopping-with-oprators />
  </div>

  <app-shopping-form />

  <div class="container content-block">
    <app-prices-insorance />

    <app-additional-packing />
  </div>

</div>

<app-social-box />
