.blog-post-card {
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  img {
    width: 447px;
    height: 260px;
    z-index: 5;
  }

  h4 {
    color: var(--1, #1f2428);
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 145.455% */
    margin-top: 29px;
    margin-bottom: 22px;
  }

  .flex {
    img {
      width: 19px;
      height: 19px;
    }
  }

  span {
    color: var(--2, #222);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px; /* 107.692% */
    opacity: 0.5;
  }
}

@media (max-width: 1024px) {
  .blog-post-card {
    img {
      width: 100%;
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .loader {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid #333;
    border-radius: 50%;
    animation: spin 1s linear infinite; /* Анімація обертання */
  }
}

