<div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-4">
  <div class="prices-item">
    <img src="assets/img/prices/1.svg" alt="" />
    <h3>Ваша особиста адреса для покупок</h3>
    <p>на нашому сучасному автоматизованому складі у безподатковому Делавері</p>
    <button>Безкоштовно</button>
  </div>

  <div class="prices-item">
    <img src="assets/img/prices/2.svg" alt="" />
    <h3>Об'єднання кількох посилок в одну</h3>
    <p>
      адже часто відправляти кілька посилок в одній коробці набагато вигідніше,
      ніж по одній
    </p>
    <button>від £10.00</button>
  </div>

  <div class="prices-item">
    <img src="assets/img/prices/3.svg" alt="" />
    <h3>Посилена упаковка на запит</h3>
    <p>
      Мы дополнительно упакуем вашу посылку в пленку, коробку с двойными
      стенками.
    </p>
    <button>від £0.25</button>
  </div>

  <div class="prices-item">
    <img src="assets/img/prices/4.svg" alt="" />
    <h3>Зберігання вхідних посилок 30 днів</h3>
    <p>
      чим більше термін зберігання посилок на складі - тим більше ви зможете
      зібрати
    </p>
    <button>Безкоштовно</button>
  </div>
</div>
