<div class="mt-10 md:mt-20">
  <h2 class="mb-[50px] max-w-[100%] md:max-w-[60%]">
    Варіанти доставки:
  </h2>

  <!-- Укрпошта -->
  <div
    class="delivery-options-item shadow-box grid grid-cols-1 lg:grid-cols-5 xl:grid-cols-7"
  >
    <div
      class="flex items-center col-span-1 lg:col-span-2 xl:col-span-4 justify-center lg:justify-start"
    >
      <img src="assets/img/prices/delivery-options/1.svg" alt="Укрпошта" />
      <h4>Укрпошта</h4>
    </div>

    <div
      class="flex flex-col items-center justify-center lg:border-l border-l-0 border-t lg:border-t-0"
    >
      <span>Терміни:</span>
      <strong>10-14 днів</strong>
    </div>

    <div
      class="flex flex-col items-center justify-center lg:border-l border-l-0 border-t lg:border-t-0"
    >
      <span>Ціна доставки:</span>
      <strong>від £27.00</strong>
    </div>

    <div
      class="flex flex-col items-center justify-center lg:border-l border-l-0 border-t lg:border-t-0"
    >
      <span>Разом:</span>
      <strong>£41.99</strong>
    </div>
  </div>
  <!-- Укрпошта -->

  <!-- Нова пошта -->
  <div
    class="delivery-options-item shadow-box grid grid-cols-1 lg:grid-cols-5 xl:grid-cols-7"
  >
    <div
      class="flex items-center col-span-1 lg:col-span-2 xl:col-span-4 justify-center lg:justify-start"
    >
      <img src="assets/img/prices/delivery-options/3.svg" alt="Нова пошта" />
      <h4>Нова пошта</h4>
    </div>

    <div
      class="flex flex-col items-center justify-center lg:border-l border-l-0 border-t lg:border-t-0"
    >
      <span>Терміни:</span>
      <strong>2-7 днів</strong>
    </div>

    <div
      class="flex flex-col items-center justify-center lg:border-l border-l-0 border-t lg:border-t-0"
    >
      <span>Ціна доставки:</span>
      <strong>від £47.00</strong>
    </div>

    <div
      class="flex flex-col items-center justify-center lg:border-l border-l-0 border-t lg:border-t-0"
    >
      <span>Разом:</span>
      <strong>£61.99</strong>
    </div>
  </div>
  <!-- Нова пошта -->

  <!-- Міжпланетний експресс -->
  <div
    class="delivery-options-item shadow-box grid grid-cols-1 lg:grid-cols-5 xl:grid-cols-7"
  >
    <div
      class="flex items-center col-span-1 lg:col-span-2 xl:col-span-4 justify-center lg:justify-start"
    >
      <img
        src="assets/img/prices/delivery-options/2.svg"
        alt="Міжпланетний експресс"
      />
      <h4>Міжпланетний експресс</h4>
    </div>

    <div
      class="flex flex-col items-center justify-center lg:border-l border-l-0 border-t lg:border-t-0"
    >
      <span>Терміни:</span>
      <strong>0.5-1 днів</strong>
    </div>

    <div
      class="flex flex-col items-center justify-center lg:border-l border-l-0 border-t lg:border-t-0"
    >
      <span>Ціна доставки:</span>
      <strong>від £257.00</strong>
    </div>

    <div
      class="flex flex-col items-center justify-center lg:border-l border-l-0 border-t lg:border-t-0"
    >
      <span>Разом:</span>
      <strong>£416.99</strong>
    </div>
  </div>
  <!-- Космічний експресс -->
</div>
