<button
  class="green-button nav-container toggle-header block"
  (click)="isActiveHeader = !isActiveHeader"
>
  <!-- <input class="checkbox" type="checkbox" name="" id="" /> -->
  <div class="hamburger-lines" [class.active]="isActiveHeader">
    <span class="line line1"></span>
    <span class="line line2"></span>
    <span class="line line3"></span>
  </div>
</button>

<header
  class="w-full flex items-center flex-col justify-around xl:flex-row"
  [class.active]="isActiveHeader"
>
  <div routerLink="/" class="logo">
    <img src="assets/img/header/logo.svg" alt="logo" />
  </div>

  <nav>
    <a *ngFor="let link of links" href="#" routerLink="{{link.path}}" [routerLinkActive]="['active']">
      {{link.title}}
    </a>
  </nav>

  <div class="controls flex">
    <a (click)="togglePopup()" href="#" class="flex items-center">
      <img src="assets/img/header/user.svg" alt="user" />
      <span>Вхід</span>
    </a>

    <button class="green-button ml-10">
      Зв’язатись з нами
    </button>
  </div>

  <div class="popup-container">
    <app-popup />
  </div>
</header>
