.category-item {
    min-width: 180px;
    transition: .3s;
    cursor: pointer;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

  &.active {
    background: var(--6, #f2f6fc);
  }

  &:hover {
    background: var(--6, #f2f6fc90);
  }

  img{
    width: 52px !important;
    height: 52px !important;
    margin-right: 20px;
  }
}
