<carousel
  [arrows]="true"
  [cellsToShow]="cellsToShow"
  [height]="swiperHeight"
  (window:resize)="onResize($event)"
  class="container swiper-responcive categoties-swiper shadow-box mt-10 lg:mt-[150px]"
>
  <div *ngFor="let category of categories; let i = index" class="carousel-cell">
    <div
      class="flex category-item"
      [class.active]="activeCategory === category.title"
      (click)="setCategory(category.title)"
    >
      <img src="{{imgPath + category.title}}.svg" alt="{{category.title}}" />
      <span class="word-break">
        {{ category.translation }}
      </span>
    </div>
  </div>
</carousel>
