<div
  class="container swiper-responcive blue-box lg:flex-row flex-col mt-10 xl:mt-[150px] xl:flex"
>
  <div class="side flex flex-col mx-4">
    <img
      src="assets/img/prices/shopping/1.svg"
      alt="Спробуйте замовляти з оператором зараз"
    />
  </div>

  <div class="text-box side flex flex-col">
    <h2>
      Спробуйте замовляти з оператором зараз. Надішліть посилання на товар, його
      куплять і доставлять на наш склад у найкоротші терміни.
    </h2>

    <div class="flex input-group">
      <img src="assets/img/prices/shopping/Link.svg" alt="Link" />
      <input type="text" placeholder="Введіть посилання на товаp" />
    </div>

    <div class="flex lg:flex-row flex-col items-center mt-9">
      <button class="green-button mr-4" (click)="openPopup()">
        Відправити
      </button>

      <p class="mr-4 w-full md:w-[50%] md:text-left text-center">
        Натискаючи на кнопку, ви підтверджуєте згоду з правилами надання послуги
        та політикою конфіденційності.
      </p>
    </div>
  </div>
</div>
