<div class="container content-block">
  <h2>86 000 задоволених клієнтів в УкраЇни вже зробили свій вибір</h2>
  <p class="py-5">
    За останній рік десятки тисяч наших клієнтів замовили товари з Англії та
    залишили 9 633 відгуків.
  </p>

  <div class="grid w-full grid-cols-1 sm:grid-cols-3 gap-4">
    <div class="satisfied-customers-item shadow-box">
      <img src="assets/img/home/satisfiedCustomers/1.svg" alt="" />
      <h3>Більше не означає дорожче</h3>
      <p>
        Зі зростанням ваги посилки ціна за кожні 0.5 кг зменшується у прогресії.
      </p>
    </div>

    <div class="satisfied-customers-item shadow-box">
      <img src="assets/img/home/satisfiedCustomers/2.svg" alt="" />
      <h3>Швидка обробка посилок</h3>
      <p>
        Посилання обробляється не довше 48 годин після надходження складу.
      </p>
    </div>

    <div class="satisfied-customers-item shadow-box">
      <img src="assets/img/home/satisfiedCustomers/3.svg" alt="" />
      <h3>SMS-сповіщення</h3>
      <p>
        Відстежуйте весь процес за допомогою SMS-повідомлень.
      </p>
    </div>
  </div>
</div>
