<div
  class="container swiper-responcive blue-box lg:flex-row flex-col mt-10 xl:mt-[150px] xl:flex"
>
  <div class="side flex flex-col mx-4">
    <img
      src="{{imgPath + 'MakeMoney.png'}}"
      alt="Чи готові почати заробляти разом з нами?"
    />
  </div>

  <div class="text-box side flex flex-col">
    <h2>Чи готові почати заробляти разом з нами?</h2>
    <p>
      Приєднуйтесь до партнерської програми Okeypost.com вже сьогодні!
    </p>

    <a class="green-button mt-9" (click)="openPopup('register')">
      приєднатись
    </a>
  </div>
</div>
