.simple-step-item {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  margin: 0 10px;
  align-items: center;

  img {
    width: 280px;
    height: 280px;
  }
  h3 {
    color: var(--1, #1f2428);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: 10px;
    width: 100%;
    text-align: left;
  }
  p {
    color: #1f2428;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    width: 100%;
    text-align: left;

    a{
        color: rgba(1, 205, 125, 1);
        margin: 0;padding: 0;
    }
  }
}
@media (max-width: 768px) {
    .simple-step-item {
        max-width: 100%;
    }
}