<div class="container content-block">
  <h2>4 простих кроки для ваших покупок у Великій Британії</h2>

  <div class="grid w-full grid-cols-1 md:grid-cols-4 sm:grid-cols-2">
    <div class="simple-step-item">
      <img src="assets/img/home/simpleSteps/1.svg" alt="" />
      <h3>ВИ ВИБИРАЄТЕ ТОВАР</h3>
      <p>
       в англійському магазині, оплачуєте и вказуєте
        <a href="">адресу складу</a> OkeyPost
      </p>
    </div>

    <div class="simple-step-item">
      <img src="assets/img/home/simpleSteps/2.svg" alt="" />
      <h3>ПОКУПКИ ПРИХОДЯТЬ НА СКЛАД</h3>
      <p>
        і з'являються у вашому особистому кабінеті на нашому сайті
      </p>
    </div>

    <div class="simple-step-item">
      <img src="assets/img/home/simpleSteps/3.svg" alt="" />
      <h3>ВІДПРАВЛЯЄМО ЇХ ВАМ ДОДОМУ</h3>
      <p>
        в надійній упаковці, по вигідній ціні і шуже швидко
      </p>
    </div>

    <div class="simple-step-item">
      <img src="assets/img/home/simpleSteps/4.svg" alt="" />
      <h3>ЗАБИРАЄТЕ СВОЮ ПОСИЛКУ</h3>
      <p>
        у пункті видачі, на пошті чи з кур'єром
      </p>
    </div>
  </div>
</div>
