<div class="mt-10 md:mt-20">
  <h2 class="mb-[50px] max-w-[100%] md:max-w-[60%]">
    Покупки з операторами Okeypost.com:
  </h2>

  <div class="grid grid-cols-1">
    <!-- item -->
    <div
      class="warehouse-services-item shadow-box grid-cols-1 lg:grid-cols-3 xl:grid-cols-5"
    >
      <div class="item col-span-1 lg:col-span-2 xl:col-span-4 lg:justify-start">
        <h4>Швидке оформлення покупок в інтернет-магазинах</h4>
        <p>
          Ви надсилаєте посилання, а оформленням замовлень займаються оператори
          Поштою. Вони зроблять покупки за вас, проконтролюють доставку на склад
          та повідомлять, коли все буде готове.
        </p>
      </div>

      <div class="item lg:border-l border-l-0 border-t lg:border-t-0">
        <strong class="text-left">
          5% вартості товарів мінімум £7 для кожного магазину Але не менше £7
          для кожного лота eBay
        </strong>
      </div>
    </div>
    <!-- item -->

    <!-- item -->
    <div
      class="warehouse-services-item shadow-box grid-cols-1 lg:grid-cols-3 xl:grid-cols-5"
    >
      <div class="item col-span-1 lg:col-span-2 xl:col-span-4 lg:justify-start">
        <h4>Фото товару за послугою "Покупка з операторами"</h4>
        <p>
          Три фото обраного вами товару, придбаного за послугою "Повний
          супровід"
        </p>
      </div>

      <div class="item lg:border-l border-l-0 border-t lg:border-t-0">
        <strong>£2</strong>
      </div>
    </div>
    <!-- item -->
  </div>
</div>

<app-shopping-form />
