<div class="container blue-box lg:flex-row flex-col-reverse mt-4 xl:flex">
  <div class="text-box side flex flex-col">
    <h1>Доставка товарів з Великої британії в Україну</h1>
    <p>
      Початкова економія до 80% на покупки. Зареєструйтеся в OkeyPost, щоб
      купувати зі скидками в Великобританії одяг, взуття, гаджети відомих
      брендів і безпечно відправляти речі в Росію.
    </p>

    <a (click)="openLoginPopup()" class="green-button mt-9">
      Отримати адресу в UK
    </a>
  </div>

  <div class="side flex flex-col">
    <img
      src="assets/home/firstScreen.svg"
      alt="Доставка товарів з Великобританії в Україну"
    />
  </div>
</div>
