<div
  class="container swiper-responcive blue-box min-h-[300px] lg:flex-row flex-col mt-10 xl:mt-[150px] xl:flex"
>
  <div class="side flex flex-col mx-4 lg:h-auto h-max">
    <h2>Підпишіться і будьте в курсі всіх знижок та акцій магазинів Великобританії!</h2>
  </div>

  <div class="side flex flex-row sm:flex-col lg:h-auto w-[100%] p-4">
    <form action="" class="flex sm:flex-row flex-col justify-between  w-[100%] p-4" >
      <div class="flex flex-col justify-center input-container">
        <input type="email" placeholder="Введіть ваш емайл">

        <div class="fake-border"></div>
      </div>

      <button class="green-button my-5">
        Підписатись
      </button>
      
    </form>
  </div>
</div>
