<div class="page-title blue-box swiper-responcive flex-col lg:flex-row mt-10 md:mt-20">
  <div class="side flex flex-col">
    <h2>
      <wbr />
      Залишились питання? Запитайте нас у соцмережах!
      <wbr />
    </h2>
  </div>

  <div class="side flex">
    <a href="" target="_blank" class="">
      <img src="assets/img/socialBox/watsapp.svg" alt="watsapp" />
    </a>
    <a href="" target="_blank" class="">
      <img src="assets/img/socialBox/viber.svg" alt="viber" />
    </a>
    <a href="" target="_blank" class="">
      <img src="assets/img/socialBox/chat.svg" alt="chat" />
    </a>
  </div>
</div>
